# Editor and local tooling caches
.cache/
.zed/*
!.zed/settings.json
!.zed/tasks.json

# Build output
build/
*imgui.ini

# C/C++ dependency files
*.d

# Object files
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Compiler and linker debug files
*.dwo
*.ilk
*.pdb

# Fortran module files
*.mod
*.smod

# Static libraries
*.a
*.la
*.lai
*.lib

# Shared libraries
*.so
*.dylib
*.dll

# Executables and application bundles
*.exe
*.out
*.app
